@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --textarea: #ccc;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --textarea: #212121;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
  )
  rgb(var(--background-start-rgb));
}

/* チャットコンテナ */
.chat-container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* テキストエリア */
.chat-textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  font-family: 'Inter', sans-serif;
  font-size: 16px;

  background-color: var(--textarea);
}

/* 送信ボタン */
.chat-send-button {
  background-color: #0070f3;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
}

.chat-send-button:hover {
  background-color: #0056b3;
}

/* 応答表示エリア */
.chat-response {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #eee;
  border-radius: 5px;
  background-color: var(--textarea);
  font-family: 'Inter', sans-serif;
  font-size: 14px;


}
